.topbar {
    padding: 10px 0;
    color: #FFF;
    font-size: 30px;
    text-align: center;
}
.tbInfo {
    background-color: #24B7A4;
}
.tbUrgent {
    background-color: #ff5722;
}
.tbHide {
    visibility: hidden;
}
.progress-bar {
    height: 10px;
}